@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/fonts/PressStart2P-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.img-red {
  filter: opacity(0.1) drop-shadow(0 0 0 red)  drop-shadow(0 0 0 red) drop-shadow(0 0 0 red) drop-shadow(0 0 0 red);
}

.img-maroon {
  filter: opacity(.1) drop-shadow(0 0 0 maroon) drop-shadow(0 0 0 maroon)  drop-shadow(0 0 0 maroon) drop-shadow(0 0 0 maroon);
}

.img-orange {
  filter: opacity(.1) drop-shadow(0 0 0 orange) drop-shadow(0 0 0 orange) drop-shadow(0 0 0 orange) drop-shadow(0 0 0 orange);
}

.img-green {
  filter: opacity(.1) drop-shadow(0 0 0 green) drop-shadow(0 0 0 green) drop-shadow(0 0 0 green) drop-shadow(0 0 0 green);
}

.img-gold {
  filter: opacity(0.1) drop-shadow(0 0 0 gold) drop-shadow(0 0 0 gold) drop-shadow(0 0 0 gold) drop-shadow(0 0 0 gold);
}

.img- {
  filter: opacity(0.0) drop-shadow(0 0 0 white);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* fix for Blockly w/ Tailwind: https://github.com/google/blockly/issues/5840 */
svg[display="none"] {
  display: none;
}

@layer components {
  /* tag base, see ActivityTag */
  .tag {
    @apply 
      px-1.5 py-1
      bg-white
      text-xs lowercase font-medium 
      outline outline-1 outline-black/25 -outline-offset-1
      shadow shadow-black/25
      rounded-lg 
  }
  
  .card {
    @apply
      bg-white
      outline outline-1 outline-black/25
      shadow shadow-black/20
      rounded-lg
  }

  /* markdown styling */
  .markdown-viewer {
    @apply px-3 py-3
  }

  .markdown-viewer > :first-child {
    @apply mt-0
  }

  .markdown-viewer p {
    @apply indent-8
  }

  .markdown-viewer h1,
  .markdown-viewer h2,
  .markdown-viewer h3,
  .markdown-viewer h4 {
    @apply mt-2.5 font-medium
  }

  .markdown-viewer h1 {
    @apply text-3xl
  }

  .markdown-viewer h2 {
    @apply text-2xl
  }

  .markdown-viewer h3 {
    @apply text-2xl
  }

  .markdown-viewer ul,
  .markdown-viewer ol,
  .markdown-viewer menu {
    @apply ml-8
  }

  .markdown-viewer ol {
    @apply list-decimal
  }

  .markdown-viewer ul,
  .markdown-viewer menu {
    @apply list-disc
  }

  .markdown-viewer img {
    @apply max-h-80 mx-auto mt-4
  }

  .markdown-viewer center {
    @apply text-sm text-neutral-500
  }
}

/* for scroll bars */
:root {
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

.code-block {
  max-height: 100px;
  overflow: auto;
  padding: 8px 7px 5px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}